<!DOCTYPE html>
<html>
  <head>
    <title>PyPoSim</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.1.0/js/tether.min.js"></script>
      <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </head>
  <body>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
        function setOutputForPlant(uid, output){
            $("div#power-out-"+uid).text(output)
        };
        (function worker() {
            {% for n in plants %}
            $.getJSON('/{{n.uid}}', function (data) {
                setOutputForPlant('{{n.uid}}', data)
            });
            {% endfor %}
            setTimeout(worker, 1000);
        })()
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });
        function isNotNumber(num){
            return !/^\+?\d+$/.test(num)
        }
        function postAddPlant(){
            var name = document.getElementById('input-name').value;
            var setpoint = document.getElementById('input-internal_setpoint').value;
            var fluctuation = document.getElementById('input-fluctuation').value;
            var ramp = document.getElementById('input-ramp').value;
            if(name.length < 1){
                var msg = 'Could not create plant <strong>without name</strong>';
                alert(msg);
            }else if(setpoint.length < 1 || isNotNumber(setpoint)){
                var msg = 'Could not create plant when <strong>setpoint is empty or not a number</strong>';
                alert(msg);
            }else if(fluctuation.length < 1 || isNotNumber(fluctuation)){
                var msg = 'Could not create plant when <strong>fluctuation is empty or not a number</strong>';
                alert(msg);
            }else if(ramp.length < 1 || isNotNumber(ramp) || parseInt(ramp) < 0){
                var msg = 'Could not create plant with <strong>negative, invalid or missing ramp rate</strong>';
                alert(msg);
            }else{
                $.ajax({
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "name": name,
                        "internal_setpoint": setpoint,
                        "fluctuation": fluctuation,
                        "ramp": ramp
                    }),
                    success: function (data) {
                        console.log("plant added successfully");
                        window.location.reload();
                    },
                    error: function () {
                        var msg = 'Could not add plant <strong>"'+name+'".</strong>';
                        alert(msg);
                        console.log("Add to plant failed");
                        console.log(JSON.stringify({
                                "name": name,
                                "internal_setpoint": setpoint,
                                "fluctuation": fluctuation,
                                "ramp": ramp
                            })
                        )
                    },
                    type: 'POST',
                    url: '/add'
                });
            }
        }
        function getDeletePlant(uid){
            $.ajax({
                success: function(data){
                    console.log("plant deleted successfully");
                    window.location.reload();
                },
                error: function(){
                    var msg = 'Could not delete plant <strong>"'+uid+'".</strong>';
                    alert(msg);
                    console.log("Delete plant failed");
                    console.log(uid);
                },
                type: 'GET',
                url: '/delete/'+uid
            });
        };
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        function alert(msg) {
            $('#add-plant-alert').html('' +
                '<div id="add-plant-alert" class="alert alert-danger alert-dismissible fade in">' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                '<span aria-hidden="true">&times;</span>' +
                '</button>'
                + msg +
                '</div>');
            $('#add-plant-alert').alert();
        };
    </script>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
        <span class="navbar-brand" href="#">
            PyPoSim Active Plants
        </span>
        <button type="button"
                style="float: right;"
                class="btn btn-primary add-plant-popover"
                data-toggle="modal"
                data-target="#add-plant-modal">
            +
        </button>
    </nav>

    <div id="add-plant-alert"></div>

    <!-- Modal -->
    <div class="modal fade" id="add-plant-modal" tabindex="-1" role="dialog" aria-labelledby="add-plant-label" aria-hidden="true">
        <div class="modal-dialog  modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="add-plant-label">Add new power plant</h4>
                </div>
                <div id='add-input' class="modal-body form-group">
                    <div class="input-group">
                        <label for="input-name">Plant name</label>
                        <input type="text" class="form-control" id="input-name" placeholder="Name of the power plant">
                    </div>
                    <br>
                    <label for="input-internal_setpoint">Internal setpoint</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="input-internal_setpoint" placeholder="Initial setpoint in kw">
                        <span class="input-group-addon">kw</span>
                    </div>
                    <br>
                    <label for="input-fluctuation">Fluctuation</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="input-fluctuation" placeholder="Fluctuation in %">
                        <span class="input-group-addon">%</span>
                    </div>
                    <br>
                    <label for="input-ramp">Ramp rate</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="input-ramp" placeholder="Ramp rate in kw/s">
                        <span class="input-group-addon">kw/s</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button onclick="postAddPlant()" type="button submit" data-dismiss="modal" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 25px;">
        {% set columns = 4 %}
        {% for n in plants %}
        {% if loop.index == 1 or (loop.index - 1) % columns == 0 %}
        {% set current = loop.index - 1 %}
        <div class="row">
        {% endif %}
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header container.fluid">
                        <div class="row">
                            <div class="col-md-3" style="text-align:left;">
                                <h6><a class="tag tag-warning"
                                       style="color:white;"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       title="Delete power plant"
                                       onclick="getDeletePlant('{{n.uid}}')">&times;</a></h6>
                            </div>
                            <div class="col-md-6" style="text-align:center;">
                                <h6><span style="text-align:center;">{{n.name}}</span></h6>
                            </div>
                            <div class="col-md-3" style="text-align:right;">
                                <h6><span class="tag tag-pill tag-success"  style="text-align:right;">{{n.uid}}</span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-block text-xs-center">
                        <div class="card-text">
                            <div style="text-align:center;vertical-align:middle;font-size:32px;">
                                <div style="font-weight:bold;">
                                    <div class="tag tag-danger"
                                         id="power-out-{{n.uid}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <span class="col-md-8 text-muted"
                                      style="text-align:left">Initial setpoint:</span>
                                <span class="col-md-4"
                                      style="font-weight:bold;text-align:right">
                                    <span class="tag tag-info">{{n.internal_setpoint}} kw</span></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <span class="col-md-6 text-muted"
                                      style="text-align:left">Fluctuation:</span>
                                <span class="col-md-6 text-muted"
                                      style="font-weight:bold;text-align:right">
                                    <span class="tag tag-info">{{n.fluctuationInPercentage}} %</span></span>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <span class="col-md-6 text-muted"
                                      style="text-align:left">Ramp:</span>
                                <span class="col-md-6 text-muted"
                                      style="font-weight:bold;text-align:right">
                                    <span class="tag tag-info">{{n.rampInSeconds}} kw</span></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        {% if loop.index - columns == current %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </body>
</html>