<!DOCTYPE html>
<html>
  <head>
    <title>PyPoSim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
        function setOutputForPlant(uid, output){
            $("div#power-out-"+uid).text(output+" KW/h")
        }
        (function worker() {
            {% for n in plants %}
            $.getJSON('/{{n.uid}}', function (data) {
                setOutputForPlant('{{n.uid}}', data)
            });
            {% endfor %}
            setTimeout(worker, 1000);
        })();
    </script>
    <div class="container">
        <div class="page-header">
            <p class="lead">PyPoSim Active Plants</p>
        </div>
        {% for n in plants %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>
                    <h4 class="panel-title">
                        {{n.name}}
                        <span class="label label-primary">UID: {{n.uid}}</span>
                    </h4>
                </span>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <span>Internal setpoint: {{n.internal_setpoint}}</span>
                </div>
                <div class="col-md-3">
                    <span>Fluctuation: {{n.fluctuationInPercentage}}</span>
                </div>
                <div class="col-md-3">
                    <span>Ramp: {{n.rampInSeconds}}</span>
                </div>
                <div class="col-md-3">
                    <div class="col-md-5 label label-danger" id="power-out-{{n.uid}}" style="font-size:16px;"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </body>
</html>